* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.w-100 {
    width: 100%;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition: none !important;
        scroll-behavior: auto !important;
    }
}